<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Título del index</title>
</head>
<body>
    <header>
        <h1 th:text="${param}"></h1>
        <nav>
<!--            <a th:href="@{/alumnos}">Alumnos</a>-->
            <a th:href="@{/asignaturas}">Asignaturas</a>
<!--            <a th:href="@{/departamentos}">Departamentos</a>-->
<!--            <a th:href="@{/grados}">Grados</a>-->
<!--            <a th:href="@{/profesores}">Profesores</a>-->
        </nav>
    </header>

    <main style="text-align: center">
        <h2>CUERPO</h2>
    </main>
</body>
</html>