<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>velazquez.jgd_ejerciciotrimestral.LoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>velazquez.jgd_ejerciciotrimestral.InicioServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Empleados</servlet-name>
        <servlet-class>velazquez.jgd_ejerciciotrimestral.EmpleadosServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Empleados</servlet-name>
        <url-pattern>/Admin/Empleados</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddEmpleado</servlet-name>
        <servlet-class>velazquez.jgd_ejerciciotrimestral.AddEmpleadoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddEmpleado</servlet-name>
        <url-pattern>/Admin/AddEmpleado</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MostrarProductos</servlet-name>
        <servlet-class>velazquez.jgd_ejerciciotrimestral.MostrarProductosServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MostrarProductos</servlet-name>
        <url-pattern>/MostrarProductos</url-pattern>
    </servlet-mapping>
</web-app>