<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Asignaturas</title>
</head>
<body>
    <header style="text-align: center">
        <h1>Lista de Asignaturas</h1>
    </header>

    <main style="text-align: center">
        <div th:if="${asignaturas != null}">
            <ul>
                <li th:each="asig : ${asignaturas}" th:text="${asig.getNombre()}"></li>
            </ul>
        </div>
        <div th:unless="${asignaturas != null}">
            <p>No se han encontrado asignaturas</p>
        </div>

    </main>
</body>
</html>