<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login de la aplicación</title>
</head>
<body>
<div style="text-align: center">
    <form th:action="@{/login}" method="post">
        <label>
            Nombre de usuarios:
            <input type="text" name="username">
        </label>
        <br>
        <label>
            Contraseña:
            <input type="password" name="password">
        </label>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <p><a th:href="@{/formUser}">¿No tienes cuenta? Regístrate</a></p>
</div>
</body>
</html>