<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario cmplejo para añadir pokemons</title>
</head>
<body>
<div th:if="${poke.nombre == null}">
    <form th:action="@{/forms/formexPokemon}" th:object="${poke}" method="post">
        <label for="nombre">
            Introduzca el nombre
            <input id="nombre" th:field="*{nombre}">
        </label><br>

        <label for="descripion">
            Introduzca la descripion
            <input id="descripion" th:field="*{descripcion}">
        </label><br>

        <label for="imagen">
            Introduzca la imagen
            <input id="imagen" th:field="*{imagen}">
        </label><br>

        <label for="categoria">
            Introduzca la categoria
            <input id="categoria" th:field="*{categoria}">
        </label>

        <label for="el">
            Eléctrico
            <input type="radio" name="tipo" value="Eléctrico" id="el">
        </label>
        <label for="fu">
            Fuego
            <input type="radio" name="tipo" value="Fuego" id="fu">
        </label>
        <label for="hi">
            Hielo
            <input type="radio" name="tipo" value="Hielo" id="hi">
        </label>
        <label for="el">
            Viento
            <input type="radio" name="tipo" value="Viento" id="vi">
        </label>

        <button type="submit">Enviar</button>
    </form>
</div>

<div th:unless="${poke.nombre == null}">

</div>
</body>
</html>